
{% extends 'index.html' %}

{% block content %}
<section class="page-section bg-primary">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Your metrics are checked!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Check your email to see if you need to take further actions</p>
                <a href="https://mail.google.com/" target="_blank" class="btn btn-light btn-xl">Go to Inbox</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
