
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Additional custom styles (if needed) -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>
{% endblock %}


<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="{{ url_for('index') }}">Server Monitoring Dashboard</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto my-2 my-lg-0">
    <li class="nav-item"><a class="nav-link" href="#memory">Memory</a></li>
    <li class="nav-item"><a class="nav-link" href="#disc_space">Disk Space</a></li>
    <li class="nav-item"><a class="nav-link" href="#network_statistics">Network Statistics</a></li>
    </ul>
    </div>
    </div>
    </nav>

    
    <!-- Masthead-->
    <header class="masthead">
    {% block content %}
    <div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
    <div class="col-lg-8 align-self-end">
  
    <hr class="divider" />
    </div>
    <div class="col-lg-8 align-self-baseline">
    <p class="text-white-75 mb-5">A powerful tool that allows you to monitor and manage the health and performance of your servers</p>
    <a class="btn btn-primary btn-xl">
    <form action="{{ url_for('check_metrics') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <button class="btn btn-primary btn-xl" type="submit">Check Metrics</button>
    </form>
    </a>
    </div>
    </div>
    </div>
      
    </header>


<!-- Portfolio1-->
<div id="memory">
    <div class="container-fluid px-5">
    <h2 class="text-center mt-5">Memory</h2>
    <hr class="divider" />
    <div class="row g-0">
    <div class="col-lg-4 col-sm-6">
    <a class="portfolio-box" href="{{ url_for('static', filename='img/portfolio/fullsize/1.jpg') }}" title="Project Name">
    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/thumbnails/1.jpg') }}" alt="..." />
    <div class="portfolio-box-caption">
    <div class="project-category text-white-50">The total amount of memory (RAM) installed in a system </div>
    </div>
    </a>
    <h4>Total Memory: {{ total_memory }} bytes</h4>
    </div>
    <div class="col-lg-4 col-sm-6">
    <a class="portfolio-box" href="{{ url_for('static', filename='img/portfolio/fullsize/2.jpg') }}" title="Project Name">
    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/thumbnails/2.jpg') }}" alt="..." />
    <div class="portfolio-box-caption">
    <div class="project-category text-white-50">Indicates how much of the total memory is currently not being used</div>
    </div>
    </a>
    <h4>Available Memory: {{ available_memory }} bytes</h4> 
    <p></p>
    </div>
    <div class="col-lg-4 col-sm-6">
    <a class="portfolio-box" href="{{ url_for('static', filename='img/portfolio/fullsize/3.jpg') }}" title="Project Name">
    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/thumbnails/3.jpg') }}" alt="..." />
    <div class="portfolio-box-caption">
    <div class="project-category text-white-50">Represents the portion of memory that is actively being used by the system or processes</div>
    </div>
    </a>
    <h4>Memory Usage: {{ memory_usage }}%</h4>
    </div>

  
    </div>
    </div>
    </div>
    </div>


     <!-- Discspace-->
     <section class="page-section" id="disc_space">
        <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-5">Disc Space</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
        <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
        <h3 class="h4 mb-2">Total Disk Space: {{ total_disk_space }} bytes</h3>
        <p class="text-muted mb-0">The overall capacity of a storage medium (such as a hard drive)</p>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
        <h3 class="h4 mb-2">Used Disk Space: {{ used_disk_space }} bytes</h3>
        <p class="text-muted mb-0">The amount of space currently occupied by files and data</p>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
        <h3 class="h4 mb-2">Free Disk Space: {{ free_disk_space }} bytes</h3>
        <p class="text-muted mb-0">The remaining available space for storage</p>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
        <h3 class="h4 mb-2">Disk Space Usage: {{ disk_space_usage }}%</h3>
        <p class="text-muted mt-4 mb-0">The proportion of the total disk space being used by data and files</p>
        </div>
        </div>
        </div>
        </div>
        </section>
        

 <!-- Portfolio-->
 <div id="network_statistics">
    <div class="container-fluid p-0">
        <h2 class="text-center mt-0">Network Statistics</h2>
        <hr class="divider" />
    <div class="row g-0">
   
    <div class="col-lg-4 col-sm-6">
    <a class="portfolio-box" href="{{ url_for('static', filename='img/portfolio/fullsize/4.jpg') }}" title="Project Name">
    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/thumbnails/4.jpg') }}" alt="..." />
    <div class="portfolio-box-caption">
    <div class="project-category text-white-50">The total number of bytes of data transmitted from a device</div>
    </div>
    </a>
    <h4>Bytes Sent: {{ bytes_sent }}</h4>
    </div>
    <div class="col-lg-4 col-sm-6">
    <a class="portfolio-box" href="{{ url_for('static', filename='img/portfolio/fullsize/5.jpg') }}" title="Project Name">
    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/thumbnails/5.jpg') }}" alt="..." />
    <div class="portfolio-box-caption">
    <div class="project-category text-white-50">The total number of bytes of data received by a device</div>
    </div>
    </a>
    <h4>Bytes Received: {{ bytes_received }}</h4>
    </div>
    <div class="col-lg-4 col-sm-6">
    <a class="portfolio-box" href="{{ url_for('static', filename='img/portfolio/fullsize/6.jpg') }}" title="Project Name">
    <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/thumbnails/6.jpg') }}" alt="..." />
    <div class="portfolio-box-caption p-3">
    <div class="project-category text-white-50">The total number of network packets sent from a device</div>
    </div>
    </a>
    <h4>Packets Sent: {{ packets_sent }}</h4>
    </div>
    </div>
    </div>
    </div>

        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
        <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Overall CPU Usage: {{ cpu_usage }}%</h2>
        <div class="w3-center">Response Time: {{ response_time }} seconds</div>
        </div>
        </section>
        {% endblock %}
              <!-- Contact-->
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Team Alyx</div></div>
        </footer>

            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- SimpleLightbox plugin JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
            <!-- Core theme JS-->
            <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>

</html>


