{% extends 'index.html' %}

{% block content %}
<section class="page-section bg-primary">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
    <h1>Postmortem Report Form</h1>
    <form id="postmortem_form" action="/submit_postmortem" method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" class="form-control" required="">
        </div>
        
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" name="date" class="form-control" required="">
        </div>
        
        <div class="form-group">
            <label for="summary">Summary:</label>
            <textarea name="summary" class="form-control" required=""></textarea>
        </div>
        
        <div class="form-group">
            <label for="timeline">Timeline:</label>
            <textarea name="timeline" class="form-control" required=""></textarea>
        </div>
        
        <div class="form-group">
            <label for="impact">Impact:</label>
            <textarea name="impact" class="form-control" required=""></textarea>
        </div>
        
        <div class="form-group">
            <label for="root_causes">Root Causes:</label>
            <textarea name="root_causes" class="form-control" required=""></textarea>
        </div>
        
        <div class="form-group">
            <label for="actions">Corrective Actions:</label>
            <textarea name="actions" class="form-control" required=""></textarea>
        </div>
        
        <div class="form-group">
            <label for="prevention">Preventative Actions:</label>
            <textarea name="prevention" class="form-control" required=""></textarea>
        </div>
        
        <div class="form-group">
            <label for="insights">Insights:</label>
            <textarea name="insights" class="form-control" required=""></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
</html>

{% endblock %}